<div class="notes-list-container">
  <div><a routerLink="/create">
    <button class="new-note-btn" extended mat-fab>
      <mat-icon>add</mat-icon>
      NEW NOTE
    </button>

  </a></div>
  <div class="notes-list">
    @for (note of notes; track note.id) {
      <mat-card class="note-card">
        <mat-card-content>
          <div class="note-card-content">
            <span [textContent]="note.content"></span>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <a [routerLink]="['/edit', note.id]">
            <button mat-button>EDIT</button>
          </a>
        </mat-card-actions>
      </mat-card>
    }
  </div>
</div>
